<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cosy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Work+Sans:300,400,700" rel="stylesheet">
    <link href="~/Content/CssTrangChu/CssTrangChu.css" rel="stylesheet" />
    <link href="~/Content/CssTrangChu/fonts/icomoon/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/CssTrangChu/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/Content/CssTrangChu/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/CssTrangChu/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/CssTrangChu/css/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/CssTrangChu/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/CssTrangChu/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/CssTrangChu/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Content/CssTrangChu/css/animate.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">



    <link rel="stylesheet" href="~/Content/CssTrangChu/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="~/Content/CssTrangChu/css/aos.css">
    <link rel="stylesheet" href="~/Content/CssTrangChu/css/style.css">

</head>
<body>
    @RenderBody()
    <div class="site-wrap">
        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div> <!-- .site-mobile-menu -->


        <div class="site-navbar-wrap js-site-navbar bg-white">

            <div class="container">
                <div class="site-navbar bg-light">
                    <div class="py-1">
                        <div class="row align-items-center">
                            <div class="col-2">
                                <h2 class="mb-0 site-logo"><a href="index.html">Cosy</a></h2>
                            </div>
                            <div class="col-10">
                                <nav class="site-navigation text-right" role="navigation">
                                    <div class="container">

                                        <div class="d-inline-block d-lg-none  ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu h3"></span></a></div>
                                        <ul class="site-menu js-clone-nav d-none d-lg-block">
                                            <li class="active">
                                                <a href="index.html">Trang chủ</a>
                                            </li>
                                            <li class="has-children">
                                                <a href="rooms.html">Phòng</a>
                                                @*<ul class="dropdown arrow-top">
                                                    <li><a href="rooms.html">12m2</a></li>
                                                    <li><a href="rooms.html">15m2</a></li>
                                                    <li><a href="rooms.html">20m2</a></li>
                                                    <li><a href="rooms.html">23m2</a></li>
                                                    <li><a href="rooms.html">25m2</a></li>
                                                    <li><a href="rooms.html">30m2</a></li>
                                                    <li class="has-children">
                                                        <a href="rooms.html">Rooms</a>
                                                        <ul class="dropdown">
                                                            <li><a href="rooms.html">America</a></li>
                                                            <li><a href="rooms.html">Europe</a></li>
                                                            <li><a href="rooms.html">Asia</a></li>
                                                            <li><a href="rooms.html">Africa</a></li>

                                                        </ul>
                                                    </li>
                                                </ul>*@
                                            </li>
                                            <li><a href="dichvu.html">Dịch vụ</a></li>
                                            <li class="taikhoan">
                                                <a href="taikhoan.html">Đăng ký phòng</a>
                                                
                                            </li>
                                            <li><a href="lienhe.html">Liên hệ</a></li>
                                            <li class="has-children">
                                                <ul class="dropdown arrow-top">
                                                    <li><a href="~/Views/Quantri/DangKy.cshtml">Đăng ký</a></li>
                                                    <li><a href="~/Views/Quantri/DangNhap.cshtml">Đăng nhập</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="slide-one-item home-slider owl-carousel">

            <div class="site-blocks-cover overlay" style="background-image: url(../HinhAnh/3.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-7 text-center" data-aos="fade">

                            <h1 class="mb-2">Welcome To Cosy</h1>
                            <h2 class="caption">Warm &amp; Comfy</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-blocks-cover overlay" style="background-image: url(../HinhAnh/2.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-7 text-center" data-aos="fade">
                            <h1 class="mb-2">Sweet</h1>
                            <h2 class="caption">Warm &amp; Comfy</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-blocks-cover overlay" style="background-image: url(../HinhAnh/1.png);" data-aos="fade" data-stellar-background-ratio="0.5">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-7 text-center" data-aos="fade">
                            <h1 class="mb-2">Beautiful</h1>
                            <h2 class="caption">Warm &amp; Comfy</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-section bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto text-center mb-5 section-heading">
                        <h2 class="mb-5">Phòng</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="hotel-room text-center">
                            <a href="#" class="d-block mb-0 thumbnail">
                                <img src="~/HinhAnh/r1.png" alt="Image" class="img-fluid" style="height:297px;width:400px"></a>
                            <div class="hotel-room-body">
                                <h3 class="heading mb-0"><a href="#">Phòng 12m2</a></h3>
                                <strong class="price">1.500.000 / tháng</strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="hotel-room text-center">
                            <a href="#" class="d-block mb-0 thumbnail"><img src="~/HinhAnh/r2.jpg" alt="Image" class="img-fluid" style="height:297px;width:400px"></a>
                            <div class="hotel-room-body">
                                <h3 class="heading mb-0"><a href="#">Phòng 15m2</a></h3>
                                <strong class="price">2.000.000 / tháng</strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="hotel-room text-center">
                            <a href="#" class="d-block mb-0 thumbnail"><img src="~/HinhAnh/r3.jpg" alt="Image" class="img-fluid" style="height:297px;width:400px"></a>
                            <div class="hotel-room-body">
                                <h3 class="heading mb-0"><a href="#">Phòng 20m2</a></h3>
                                <strong class="price">2.500.000 / tháng</strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="hotel-room text-center">
                            <a href="#" class="d-block mb-0 thumbnail"><img src="~/HinhAnh/r4.jpg" alt="Image" class="img-fluid" style="height:297px;width:400px"></a>
                            <div class="hotel-room-body">
                                <h3 class="heading mb-0"><a href="#">Phòng 23m2</a></h3>
                                <strong class="price">3.000.000 / tháng</strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="hotel-room text-center">
                            <a href="#" class="d-block mb-0 thumbnail"><img src="~/HinhAnh/r5.jpg" alt="Image" class="img-fluid" style="height:297px;width:400px"></a>
                            <div class="hotel-room-body">
                                <h3 class="heading mb-0"><a href="#">Phòng 25m2</a></h3>
                                <strong class="price">3.500.000 / tháng</strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="hotel-room text-center">
                            <a href="#" class="d-block mb-0 thumbnail"><img src="~/HinhAnh/r6.jpg" alt="Image" class="img-fluid" style="height:297px;width:400px"></a>
                            <div class="hotel-room-body">
                                <h3 class="heading mb-0"><a href="#">Phòng 30m2</a></h3>
                                <strong class="price">4.500.000 / tháng</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="site-section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 mb-5 mb-md-0">

                        <div class="img-border">
                            <a href="https://vimeo.com/28959265" class="popup-vimeo image-play">
                                <span class="icon-wrap">
                                    <span class="icon icon-play"></span>
                                </span>
                                <img src="images/img_2.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                        <img src="images/img_1.jpg" alt="Image" class="img-fluid image-absolute">

                    </div>
                    <div class="col-md-5 ml-auto">

                        <div class="section-heading text-left">
                            <h2 class="mb-5">About Us</h2>
                        </div>
                        <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, nisi Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit nobis magni eaque velit eum, id rem eveniet dolor possimus voluptas..</p>
                        <p><a href="https://vimeo.com/28959265" class="popup-vimeo text-uppercase">Watch Video <span class="icon-arrow-right small"></span></a></p>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto text-center mb-5 section-heading">
                        <h2 class="mb-5">Dịch Vụ</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="text-center p-4 item">
                            
                            <span class="flaticon-tv display-3 mb-3 d-block text-primary"></span>                        
                            <h2 class="h5">Điện</h2>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="text-center p-4 item">
                            <span class="flaticon-drink display-3 mb-3 d-block text-primary"></span>
                            <h2 class="h5">Nước</h2>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="text-center p-4 item">
                            <span class="flaticon-desk display-3 mb-3 d-block text-primary"></span>
                            <h2 class="h5">Wifi</h2>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="text-center p-4 item">
                            <span class="flaticon-minibar display-3 mb-3 d-block text-primary"></span>
                            <h2 class="h5">Điều hòa</h2>
                        </div>
                    </div>
                    @*<div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="text-center p-4 item">
                            <span class="flaticon-hair-dryer display-3 mb-3 d-block text-primary"></span>
                            <h2 class="h5">Hair Dryer</h2>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="text-center p-4 item">
                            <span class="flaticon-minibar display-3 mb-3 d-block text-primary"></span>
                            <h2 class="h5">Minibar</h2>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="text-center p-4 item">
                            <span class="flaticon-drink display-3 mb-3 d-block text-primary"></span>
                            <h2 class="h5">Drinks</h2>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="text-center p-4 item">
                            <span class="flaticon-cab display-3 mb-3 d-block text-primary"></span>
                            <h2 class="h5">Car Airport</h2>
                        </div>
                    </div>*@



                </div>
            </div>
        </div>

        <div class="py-5 upcoming-events" style="background-image: url('../HinhAnh/a1.jpg'); background-attachment: fixed;">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <h2 class="text-white">Xin Chào, Tân Sinh Viên 2019</h2>
                        <h3 class="text-white">Giảm giá phòng 20%</h3>
                        <a href="#" class="text-white btn btn-outline-warning rounded-0 text-uppercase">Avail Now</a>
                    </div>
                    <div class="col-md-6">
                        <span class="caption">Chương trình được thực hiện trong </span>
                        <div id="date-countdown"></div>
                    </div>
                </div>

            </div>
        </div>
        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto text-center mb-5 section-heading">
                        <h2 class="mb-5">Hình Ảnh</h2>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-md-6 col-lg-3">
                        <a href="../HinhAnh/g1.jpg" class="image-popup img-opacity"><img src="~/HinhAnh/g1.jpg" alt="Image" class="img-fluid" style="height:208px"></a>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <a href="../HinhAnh/g2.jpg" class="image-popup img-opacity"><img src="~/HinhAnh/g2.jpg" alt="Image" class="img-fluid" style="height:208px"></a>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <a href="../HinhAnh/g3.jpg" class="image-popup img-opacity"><img src="~/HinhAnh/g3.jpg" alt="Image" class="img-fluid" style="height:208px"></a>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <a href="../HinhAnh/g4.jpg" class="image-popup img-opacity"><img src="~/HinhAnh/g4.jpg" alt="Image" class="img-fluid" style="height:208px"></a>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <a href="../HinhAnh/g5.jpg" class="image-popup img-opacity"><img src="~/HinhAnh/g5.jpg" alt="Image" class="img-fluid" style="height:208px"></a>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <a href="../HinhAnh/g6.jpg" class="image-popup img-opacity"><img src="~/HinhAnh/g6.jpg" alt="Image" class="img-fluid" style="height:208px"></a>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <a href="../HinhAnh/g7.jpg" class="image-popup img-opacity"><img src="~/HinhAnh/g7.jpg" alt="Image" class="img-fluid" style="height:208px"></a>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <a href="../HinhAnh/g8.jpg" class="image-popup img-opacity"><img src="~/HinhAnh/g8.jpg" alt="Image" class="img-fluid" style="height:208px"></a>
                    </div>
                </div>
            </div>
        </div>


        <div class="site-section block-15">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto text-center mb-5 section-heading">
                        <h2>Khách Hàng</h2>
                    </div>
                </div>

                <div class="nonloop-block-15 owl-carousel">

                    <div class="media-with-text p-md-4">
                        <div class="img-border-sm mb-4">
                            <a href="#" class="popup-vimeo image-play">
                                <img src="~/HinhAnh/k1.jpg" alt="" class="img-fluid" style="height:280px" >
                            </a>
                        </div>
                        <h2 class="heading mb-0"><a href="#">Lê Thị Thùy Dung</a></h2>
                        <span class="mb-3 d-block post-date">Năm 2008</span>
                        <p>Quê quán: Hà Tĩnh<br />
                        Nghề nghiệp: Giáo viên<br />
                        Thuê phòng 7 năm 
                        </p>
                    </div>

                    <div class="media-with-text p-md-4">
                        <div class="img-border-sm mb-4">
                            <a href="#" class="popup-vimeo image-play">

                                <img src="~/HinhAnh/k2.jpg" alt="" class="img-fluid" style="height:280px">
                            </a>
                        </div>
                        <h2 class="heading mb-0"><a href="#">Đỗ Mỹ Linh</a></h2>
                        <span class="mb-3 d-block post-date">Năm 2006</span>
                        <p>
                            Quê quán: Thái Bình<br />
                            Nghề nghiệp: Sinh viên<br />
                            Thuê phòng 10 năm
                        </p>
                    </div>

                    <div class="media-with-text p-md-4">
                        <div class="img-border-sm mb-4">
                            <a href="#" class="popup-vimeo image-play">
                                <img src="~/HinhAnh/k3.png" alt="" class="img-fluid" style="height:280px">
                            </a>
                        </div>
                        <h2 class="heading mb-0"><a href="#">Bùi Huy Quang</a></h2>
                        <span class="mb-3 d-block post-date">Năm 2004</span>
                        <p>
                            Quê quán: Thanh Hóa<br />
                            Nghề nghiệp: Kỹ sư xây dựng<br />
                            Thuê phòng 10 năm
                        </p>
                    </div>
                    <div class="media-with-text p-md-4">
                        <div class="img-border-sm mb-4">
                            <a href="#" class="popup-vimeo image-play">
                                <img src="~/HinhAnh/k4.jpg" alt="" class="img-fluid" style="height:280px">
                            </a>
                        </div>
                        <h2 class="heading mb-0"><a href="#">Minh Hằng</a></h2>
                        <span class="mb-3 d-block post-date">Năm 2004</span>
                        <p>
                            Quê quán: Thái Nguyên<br />
                            Nghề nghiệp: Diễn viên<br />
                            Thuê phòng 5 năm
                        </p>
                    </div>

                    <div class="media-with-text p-md-4">
                        <div class="img-border-sm mb-4">
                            <a href="#" class="popup-vimeo image-play">
                                <img src="~/HinhAnh/k5.jpg" alt="" class="img-fluid" style="height:280px">
                            </a>
                        </div>
                        <h2 class="heading mb-0"><a href="#">Chi Pu</a></h2>
                        <span class="mb-3 d-block post-date">Năm 2006</span>
                        <p>
                            Quê quán: Lào Cai<br />
                            Nghề nghiệp: Sinh viên<br />
                            Thuê phòng 4 năm
                        </p>
                    </div>

                    <div class="media-with-text p-md-4">
                        <div class="img-border-sm mb-4">
                            <a href="#" class="popup-vimeo image-play">

                                <img src="~/HinhAnh/k6.jpg" alt="" class="img-fluid" style="height:280px">
</a>
                        </div>
                        <h2 class="heading mb-0"><a href="#">Sơn Tùng</a></h2>
                        <span class="mb-3 d-block post-date">Năm 2001</span>
                        <p>
                            Quê quán: Nghệ An<br />
                            Nghề nghiệp: Ca sĩ<br />
                            Thuê phòng 5 năm
                        </p>
                    </div>

                    @*<div class="media-with-text p-md-4">
                        <div class="img-border-sm mb-4">
                            <a href="#" class="popup-vimeo image-play">
                                <img src="images/img_1.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                        <h2 class="heading mb-0"><a href="#">Lorem Ipsum Dolor Sit Amet</a></h2>
                        <span class="mb-3 d-block post-date">Dec 20th, 2018 &bullet; By <a href="#">Admin</a></span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores culpa qui aliquam placeat nobis veritatis tempora natus rerum obcaecati.</p>
                    </div>

                    <div class="media-with-text p-md-4">
                        <div class="img-border-sm mb-4">
                            <a href="#" class="popup-vimeo image-play">
                                <img src="images/img_2.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                        <h2 class="heading mb-0"><a href="#">Lorem Ipsum Dolor Sit Amet</a></h2>
                        <span class="mb-3 d-block post-date">Dec 20th, 2018 &bullet; By <a href="#">Admin</a></span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores culpa qui aliquam placeat nobis veritatis tempora natus rerum obcaecati.</p>
                    </div>

                    <div class="media-with-text p-md-4">
                        <div class="img-border-sm mb-4">
                            <a href="#" class="popup-vimeo image-play">
                                <img src="images/img_3.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                        <h2 class="heading mb-0"><a href="#">Lorem Ipsum Dolor Sit Amet</a></h2>
                        <span class="mb-3 d-block post-date">Dec 20th, 2018 &bullet; By <a href="#">Admin</a></span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores culpa qui aliquam placeat nobis veritatis tempora natus rerum obcaecati.</p>
                    </div>*@


                </div>
            </div>
        </div>
        <!--Google map-->
        <div class="col-md-6 mx-auto text-center mb-5 section-heading">
            <h2 class="mb-5">Google Map</h2>
        </div>
        <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 300px">
            <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                    style="border:0" ></iframe>
        </div>

        <!--Google Maps-->

        <div class="site-section block-12 bg-light">
            <div class="container">

                <div class="row">
                    <div class="col-md-6 mx-auto text-center mb-5 section-heading">
                        <h2>Quản lý</h2>
                    </div>
                </div>
                <div class="nonloop-block-15 owl-carousel">
                    <div class="p-4">
                        <div class="d-flex block-testimony">
                            <div class="person mr-3">
                                <img src="~/HinhAnh/q1.png" alt="Image" class="img-fluid rounded" style="height:120px;width:100px;">
                            </div>
                            <div>
                                <h2 class="h5">Ông Nguyễn Văn An</h2>
                                <blockquote>&ldquo;Chủ nhà&rdquo; <br />
                                    &ldquo;Số điện thoại: 0378635808&rdquo;</blockquote>
                            </div>
                        </div>
                    </div>
                    <div class="p-4">
                        <div class="d-flex block-testimony">
                            <div class="person mr-3">
                                <img src="~/HinhAnh/q2.jpg" alt="Image" class="img-fluid rounded" style="height:120px;width:100px;">
                            </div>
                            <div>
                                <h2 class="h5">Bà Lại Hồng Hà</h2>
                                <blockquote>&ldquo;Chủ nhà&rdquo; <br />
                                    &ldquo;Số điện thoại: 0985558828&rdquo;</blockquote>
                            </div>
                        </div>
                    </div>
                    @*<div class="p-4">
                        <div class="d-flex block-testimony">
                            <div class="person mr-3">
                                <img src="~/HinhAnh/q3.jpg" alt="Image" class="img-fluid rounded" style="height:150px;width:400px;">
                            </div>
                            <div>
                                <h2 class="h5">Cao Ngọc Thế</h2>
                                <blockquote>&ldquo;Nhân viên 1 <br />
                                Số điện thoại: 09628466382 &rdquo;</blockquote>
                            </div>
                        </div>
                    </div>*@
                    <div class="p-4">
                        <div class="d-flex block-testimony">
                            <div class="person mr-3">
                                <img src="~/HinhAnh/q4.jpg" alt="Image" class="img-fluid rounded" style="height:120px;width:100px;">
                            </div>
                            <div>
                                <h2 class="h5">Mai Ngọc Lan</h2>
                                <blockquote>&ldquo;Nhân viên 2&rdquo;<br />
                                    &ldquo;Số điện thoại: 0347837385&rdquo;</blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- <div class="py-5 quick-contact-info">
          <div class="container">
            <div class="row">
              <div class="col-md-4 text-center">
                <div>
                  <span class="icon-room text-white h2 d-block"></span>
                  <h2>Location</h2>
                  <p class="mb-0">New York - 2398 <br>  10 Hadson Carl Street</p>
                </div>
              </div>
              <div class="col-md-4 text-center">
                <div>
                  <span class="icon-clock-o text-white h2 d-block"></span>
                  <h2>Service Times</h2>
                  <p class="mb-0">Wednesdays at 6:30PM - 7:30PM <br>
                  Fridays at Sunset - 7:30PM <br>
                  Saturdays at 8:00AM - Sunset</p>
                </div>
              </div>
              <div class="col-md-4 text-center">
                <div>
                  <span class="icon-comments text-white h2 d-block"></span>
                  <h2>Get In Touch</h2>
                  <p class="mb-0">Email: info@yoursite.com <br>
                  Phone: (123) 3240-345-9348 </p>
                </div>
              </div>
            </div>
          </div>
        </div> -->

        <footer class="site-footer">
            <div class="container">

                <div class="row">
                    <div class="col-md-4">
                        <h3 class="footer-heading mb-4 text-white">Cosy</h3>
                        <p>Chủ nhà:Nguyễn Văn An </p>
                        <p>Địa chỉ: 87 Minh Khai - TP.Vinh - Nghệ An</p>
                        <p>Điện thoại: 037.8635.808</p>
                        <p>Email:dophu3196@gmail.com</p>
                        <p>Cosy ấm áp và thoải mái như ở nhà !</p>
                        @*<p><a href="#" class="btn btn-primary pill text-white px-4">Read More</a></p>*@
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="footer-heading mb-4 text-white">Thông tin</h3>
                                <ul class="list-unstyled">
                                    <li><a href="#">Phòng</a></li>
                                    <li><a href="#">Dịch vụ</a></li>
                                    <li><a href="#">Approa</a></li>
                                    <li><a href="#">Sustainability</a></li>
                                    <li><a href="#">News</a></li>
                                    <li><a href="#">Careers</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <h3 class="footer-heading mb-4 text-white">Ministries</h3>
                                <ul class="list-unstyled">
                                    <li><a href="#">Children</a></li>
                                    <li><a href="#">Women</a></li>
                                    <li><a href="#">Bible Study</a></li>
                                    <li><a href="#">Church</a></li>
                                    <li><a href="#">Missionaries</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="col-md-12"><h3 class="footer-heading mb-4 text-white">Liên hệ</h3></div>
                        <div class="col-md-12">
                            <p>
                                <a href="#" class="pb-2 pr-2 pl-0"><span class="icon-facebook"></span></a>
                                <a href="#" class="p-2"><span class="icon-twitter"></span></a>
                                <a href="#" class="p-2"><span class="icon-instagram"></span></a>
                                <a href="#" class="p-2"><span class="icon-vimeo"></span></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row pt-5 mt-5 text-center">
                    <div class="col-md-12">
                        @*<p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                            <script>document.write(new Date().getFullYear());</script> All Rights Reserved | This template is made with <i class="icon-heart text-primary" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>*@
                    </div>

                </div>
            </div>
        </footer>
    </div>
    <script src="~/Content/CssTrangChu/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/CssTrangChu/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Content/CssTrangChu/js/jquery-ui.js"></script>
    <script src="~/Content/CssTrangChu/js/popper.min.js"></script>
    <script src="~/Content/CssTrangChu/js/bootstrap.min.js"></script>
    <script src="~/Content/CssTrangChu/js/owl.carousel.min.js"></script>
    <script src="~/Content/CssTrangChu/js/jquery.stellar.min.js"></script>
    <script src="~/Content/CssTrangChu/js/jquery.countdown.min.js"></script>
    <script src="~/Content/CssTrangChu/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/CssTrangChu/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/CssTrangChu/js/aos.js"></script>

    <script src="~/Content/CssTrangChu/js/mediaelement-and-player.min.js"></script>
    <script src="~/Content/CssTrangChu/js/main.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var mediaElements = document.querySelectorAll('video, audio'), total = mediaElements.length;

            for (var i = 0; i < total; i++) {
                new MediaElementPlayer(mediaElements[i], {
                    pluginPath: 'https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/',
                    shimScriptAccess: 'always',
                    success: function () {
                        var target = document.body.querySelectorAll('.player'), targetTotal = target.length;
                        for (var j = 0; j < targetTotal; j++) {
                            target[j].style.visibility = 'visible';
                        }
                    }
                });
            }
        });
    </script>
</body>
</html>